{{ define "auth/auth.tmpl" }}
{{ template "auth/base.tmpl" . }}
{{ end }}

{{ define "title" }}Authenticate | Nuon Auth{{ end }}

{{ define "content" }}
<main>
  <h1>Authenticate</h1>
</main>
{{ end }}
