<!-- vi: set syntax=html -->
{{ define "auth/head.tmpl" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{{ end }}

{{ define "auth/header.tmpl" }}
<header>
  <nav>Nuon Auth</nav>
</header>
{{ end }}

{{ define "auth/footer.tmpl" }}
<footer>
  <p>&copy; Nuon</p>
</footer>
{{ end }}
