{{ define "auth/login.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "auth/head.tmpl" . }}
  <title>Login | Nuon Auth</title>
</head>
<body>
  {{ template "auth/header.tmpl" . }}
  <main>
    <h1>Login</h1>
  </main>
  {{ template "auth/footer.tmpl" . }}
</body>
</html>
{{ end }}
