{{ define "auth/validate.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "auth/head.tmpl" . }}
  <title>Validate | Nuon Auth</title>
</head>
<body>
  {{ template "auth/header.tmpl" . }}
  <main>
    <h1>Validate</h1>
  </main>
  {{ template "auth/footer.tmpl" . }}
</body>
</html>
{{ end }}
