[Unit]
Description=Nuon Runner Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
User=runner
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop $(/usr/bin/docker ps -a -q --filter=\"name=%n\")"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm   $(/usr/bin/docker ps -a -q --filter=\"name=%n\")"
EnvironmentFile=/opt/nuon/runner/image
EnvironmentFile=/opt/nuon/runner/env
ExecStartPre=/usr/bin/docker pull ${CONTAINER_IMAGE_URL}:${CONTAINER_IMAGE_TAG}
ExecStart=/usr/bin/docker run --network host --volume /tmp/nuon-runner:/tmp --rm --name %n --memory "3750g" --cpus="1.75" --env-file /opt/nuon/runner/env --log-driver=awslogs --log-opt awslogs-region=${AWS_REGION} --log-opt awslogs-group=runner-${RUNNER_ID} ${CONTAINER_IMAGE_URL}:${CONTAINER_IMAGE_TAG} install
ExecStopPost=-/usr/bin/rm -rf /tmp/nuon-runner/*"
ExecStopPost=-/bin/sh -c "/usr/bin/docker rmi $(/usr/bin/docker images -a -q)"
ExecStopPost=-/bin/sh -c "yes | /usr/bin/docker system prune -a"
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
