package views

import (
	"github.com/nuonco/nuon/services/ctl-api/internal/app"
	"github.com/nuonco/nuon/services/ctl-api/internal/app/admin-dashboard/components/card"
	"github.com/nuonco/nuon/services/ctl-api/internal/app/admin-dashboard/components/copybutton"
	"github.com/nuonco/nuon/services/ctl-api/internal/app/admin-dashboard/components/popover"
)

templ Accounts(accounts []*app.Account) {
	@Layout("Accounts") {
		<div class="w-full max-w-7xl mx-auto px-6">
			@card.Card() {
				@card.Header() {
					@card.Title() {
						Accounts
					}
					@card.Description() {
						All user accounts in the system
					}
				}
				@card.Content() {
					if len(accounts) == 0 {
						<div class="text-sm text-muted-foreground">No accounts found.</div>
					} else {
						@AccountsTable(accounts)
					}
				}
			}
		</div>
		@copybutton.Script()
		@popover.Script()
	}
}
